*{
    margin: 0;
    padding: 0;
    font-family: 'MuseoModerno', cursive;
}
body{
    background-color: #35363a;
}
#app{
    width: 100%;
    left: 0;
    position: absolute;
}
#title{
    font-size: 2em;
    margin: 5%;
    color: #FFFFFF;
}
button{
    background-color: transparent;
    border: 0;
}
button:focus{
    -webkit-animation: blink-2 0.5s both;
    animation: blink-2 0.5s both;
}
#add-task-container{
    width: 100vw;
}
i{
    font-size: 2em;
    padding: 10%;
    color: #FFFFFF;
}
button{
    padding: 0.5%;
}
input{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    border: 0;
    background-color: rgb(87, 88, 88);
    color: #FFFFFF;
}
#add-task-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
li{
    margin: 9%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #FFFFFF;
}
.button-list{
    background-color: rgb(87, 88, 88);
    padding: 2%;
    margin-left: 1%;
    color: #FFFFFF;
    }
.button-list:focus{
    -webkit-animation: blink-2 0.5s both;
    animation: blink-2 0.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-8 18:28:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-2
 * ----------------------------------------
 */
 @-webkit-keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }